<div *ngIf="wallet" class="credit-card-container">
  <div class="credit-card">
    <div class="credit-card-header">
      <h2>Mon Wallet</h2>
      <div class="credit-card-logo">$$$</div>
    </div>
    
    <div class="credit-card-body">
      <div class="credit-card-info">
        <span class="label">Montant</span>
        <span class="value">{{ wallet.amount }} {{ wallet.currency }}</span>
      </div>
      
      <div class="credit-card-info">
        <span class="label">Propriétaire</span>
        <span class="value">{{ wallet.ownerFullName }}</span>
      </div>
      
      <div class="credit-card-info">
        <span class="label">Statut</span>
        <span class="value">{{ wallet.status }}</span>
      </div>
    </div>
    
    <div class="credit-card-footer">
      <div class="credit-card-chip"></div>
    </div>
  </div>
</div>